/* screen - home */

.border-1px-silver-chalice {
  border: 1px solid var(--silver-chalice);
}
.border-2px-mine-shaft {
  border: 2px solid var(--mine-shaft);
}
.home {
  background-color: var(--white);
  height: 3011px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.home .about-fapster-app-lgGuhs {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 152px;
  white-space: nowrap;
  width: 172px;
}
.home .bg-dkeNgb {
  background-color: var(--silver);
  border-radius: 16px;
  height: 84px;
  left: -2px;
  opacity: 0.24;
  position: relative;
  top: -2px;
  width: 374px;
}
.home .card-1-C61RwL {
  background-color: transparent;
  background-image: url(../img/card-1@2x.svg);
  background-size: 100% 100%;
  border-radius: 20px;
  height: 380px;
  left: 435px;
  position: absolute;
  top: 440px;
  width: 470px;
}
.home .card-2-C61RwL {
  background-color: transparent;
  background-image: url(../img/card-2@2x.svg);
  background-size: 100% 100%;
  border-radius: 20px;
  height: 464px;
  left: 135px;
  position: absolute;
  top: 558px;
  width: 270px;
}
.home .card-3-C61RwL {
  background-color: transparent;
  height: 222px;
  left: 935px;
  position: absolute;
  top: 598px;
  width: 170px;
}
.home .card-3-VMr6Om {
  background-color: transparent;
  height: 449px;
  left: 137px;
  position: absolute;
  top: 1584px;
  width: 373px;
}
.home .card-4-C61RwL {
  background-color: transparent;
  background-image: url(../img/card-4@2x.svg);
  background-size: 100% 100%;
  border-radius: 20px;
  height: 284px;
  left: 435px;
  position: absolute;
  top: 850px;
  width: 270px;
}
.home .card-4-VMr6Om {
  background-color: transparent;
  height: 449px;
  left: 535px;
  position: absolute;
  top: 1584px;
  width: 373px;
}
.home .card-5-C61RwL {
  background-color: transparent;
  height: 356px;
  left: 735px;
  position: absolute;
  top: 850px;
  width: 370px;
}
.home .card-5-VMr6Om {
  background-color: transparent;
  height: 449px;
  left: 933px;
  position: absolute;
  top: 1584px;
  width: 373px;
}
.home .card-6-C61RwL {
  background-color: transparent;
  border-radius: 20px;
  height: 222px;
  left: 1135px;
  position: absolute;
  top: 598px;
  width: 170px;
}
.home .card-6-VMr6Om {
  background-color: transparent;
  height: 449px;
  left: 137px;
  position: absolute;
  top: 2083px;
  width: 373px;
}
.home .card-7-C61RwL {
  background-color: transparent;
  border-radius: 20px;
  height: 222px;
  left: 1135px;
  position: absolute;
  top: 850px;
  width: 170px;
}
.home .card-7-VMr6Om {
  background-color: transparent;
  height: 449px;
  left: 535px;
  position: absolute;
  top: 2083px;
  width: 373px;
}
.home .card-8-C61RwL {
  background-color: transparent;
  height: 449px;
  left: 933px;
  position: absolute;
  top: 2083px;
  width: 373px;
}
.home .discover-w-our-region-C61RwL {
  background-color: transparent;
  color: var(--silver-chalice);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  height: 48px;
  left: 287px;
  letter-spacing: -0.50px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 1442px;
  white-space: nowrap;
  width: auto;
}
.home .e-mail-xOMmsN {
  background-color: transparent;
  height: 32px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 8px;
  white-space: nowrap;
  width: 240px;
}
.home .explore-ou--favorites-C61RwL {
  background-color: transparent;
  color: var(--outer-space);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  height: 104px;
  left: 135px;
  letter-spacing: -3.00px;
  line-height: 104px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 0px rgba(255,255,255,1.0);;
  top: 176px;
  white-space: nowrap;
  width: 1172px;
}
.home .find-the-r-nt-for-you-C61RwL {
  background-color: transparent;
  height: 78px;
  left: 300px;
  letter-spacing: -1.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1352px;
  width: 842px;
}
.home .frame-1-C61RwL {
  background-color: transparent;
  height: 100px;
  left: 963px;
  overflow: hidden;
  position: absolute;
  top: 537px;
  width: 100px;
}
.home .get-in-touch-lgGuhs {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 192px;
  white-space: nowrap;
  width: 172px;
}
.home .have-questions-lgGuhs {
  background-color: transparent;
  height: 24px;
  left: 600px;
  letter-spacing: 2.50px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 112px;
  width: 572px;
}
.home .header-C61RwL {
  background-color: transparent;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.home .horizontal-3-IcPKRJ {
  background-color: transparent;
  height: 64px;
  left: 124px;
  overflow: hidden;
  position: absolute;
  top: 16px;
  width: 201px;
}
.home .how-it-works-Yv69kB {
  background-color: transparent;
  color: var(--outer-space);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: 48px;
  left: 16px;
  letter-spacing: 0.20px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 68px;
}
.home .hs-plnt-helper-lZZrvT {
  background-color: transparent;
  color: var(--outer-space);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 9px;
  letter-spacing: -1.00px;
  line-height: 56px;
  position: absolute;
  text-align: left;
  top: 17px;
  white-space: nowrap;
  width: 193px;
}
.home .icon-arrow-right-1lH4dx {
  background-color: transparent;
  height: 32px;
  left: 338px;
  position: absolute;
  top: 417px;
  width: 32px;
}
.home .icon-arrow-right-3LgKOT {
  background-color: transparent;
  height: 32px;
  left: 338px;
  position: absolute;
  top: 417px;
  width: 32px;
}
.home .icon-arrow-right-G5lcgt {
  background-color: transparent;
  height: 32px;
  left: 338px;
  position: absolute;
  top: 417px;
  width: 32px;
}
.home .icon-arrow-right-lOdMFZ {
  background-color: transparent;
  height: 32px;
  left: 338px;
  position: absolute;
  top: 417px;
  width: 32px;
}
.home .icon-arrow-right-nPhL4q {
  background-color: transparent;
  height: 32px;
  left: 338px;
  position: absolute;
  top: 417px;
  width: 32px;
}
.home .icon-arrow-right-vxBY3m {
  background-color: transparent;
  height: 32px;
  left: 338px;
  position: absolute;
  top: 417px;
  width: 32px;
}
.home .icon-edit-Vpexvy {
  background-color: transparent;
  height: 40px;
  left: 326px;
  overflow: hidden;
  position: absolute;
  top: 4px;
  width: 40px;
}
.home .icon-mail-xOMmsN {
  background-color: transparent;
  height: 40px;
  left: 226px;
  overflow: hidden;
  position: absolute;
  top: 4px;
  width: 40px;
}
.home .icon-user-x5XmCn {
  background-color: transparent;
  height: 40px;
  left: 226px;
  overflow: hidden;
  position: absolute;
  top: 4px;
  width: 40px;
}
.home .information-lgGuhs {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 2.50px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 112px;
  width: 572px;
}
.home .inpit-r-h08fFY {
  background-color: transparent;
  height: 48px;
  left: 900px;
  position: absolute;
  top: 152px;
  width: 270px;
}
.home .inpit-r-lgGuhs {
  background-color: transparent;
  height: 48px;
  left: 600px;
  position: absolute;
  top: 152px;
  width: 270px;
}
.home .intersect-bo16s2 {
  background-color: transparent;
  height: 60px;
  left: 9px;
  position: absolute;
  top: 15px;
  width: 57px;
}
.home .learn-more-DwTS6q {
  background-color: transparent;
  color: var(--white);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  height: 66px;
  left: 16px;
  letter-spacing: -0.50px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 240px;
}
.home .leave-your-message-Vpexvy {
  background-color: transparent;
  color: var(--chicago);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 16px;
  letter-spacing: 0.20px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 340px;
}
.home .let-me-exp-ntextually-1lH4dx {
  background-color: transparent;
  height: 71px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 338px;
  width: 372px;
}
.home .let-me-exp-ntextually-3LgKOT {
  background-color: transparent;
  height: 71px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 338px;
  width: 372px;
}
.home .let-me-exp-ntextually-G5lcgt {
  background-color: transparent;
  height: 71px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 338px;
  width: 372px;
}
.home .let-me-exp-ntextually-lOdMFZ {
  background-color: transparent;
  height: 71px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 338px;
  width: 372px;
}
.home .let-me-exp-ntextually-nPhL4q {
  background-color: transparent;
  height: 71px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 338px;
  width: 372px;
}
.home .let-me-exp-ntextually-vxBY3m {
  background-color: transparent;
  height: 71px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 338px;
  width: 372px;
}
.home .line-5-C61RwL {
  background-color: transparent;
  height: 2px;
  left: 257px;
  position: absolute;
  top: 1289px;
  width: 926px;
}
.home .onhovered-active-lgGuhs {
  background-color: transparent;
  height: 24px;
  left: 200px;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 152px;
  white-space: nowrap;
  width: 172px;
}
.home .privacy-policy-lgGuhs {
  background-color: transparent;
  height: 24px;
  left: 200px;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 192px;
  white-space: nowrap;
  width: 172px;
}
.home .read-more-76Lxqf {
  background-color: transparent;
  height: 16px;
  left: 16px;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 90px;
}
.home .read-more-QSIjGN {
  background-color: transparent;
  height: 16px;
  left: 16px;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 90px;
}
.home .read-more-afd3XZ {
  background-color: transparent;
  height: 16px;
  left: 16px;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 90px;
}
.home .read-more-gEOhe2 {
  background-color: transparent;
  height: 16px;
  left: 16px;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 90px;
}
.home .read-more-mzQmYj {
  background-color: transparent;
  height: 16px;
  left: 16px;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 90px;
}
.home .read-more-nTPbx6 {
  background-color: transparent;
  height: 16px;
  left: 16px;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 90px;
}
.home .resources-lgGuhs {
  background-color: transparent;
  height: 24px;
  left: 400px;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 192px;
  white-space: nowrap;
  width: 172px;
}
.home .reusable-c-ery-layout-1lH4dx {
  background-color: transparent;
  height: 72px;
  left: 0px;
  letter-spacing: 0.25px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 266px;
  width: 372px;
}
.home .reusable-c-ery-layout-3LgKOT {
  background-color: transparent;
  height: 72px;
  left: 0px;
  letter-spacing: 0.25px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 266px;
  width: 372px;
}
.home .reusable-c-ery-layout-G5lcgt {
  background-color: transparent;
  height: 72px;
  left: 0px;
  letter-spacing: 0.25px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 266px;
  width: 372px;
}
.home .reusable-c-ery-layout-lOdMFZ {
  background-color: transparent;
  height: 72px;
  left: 0px;
  letter-spacing: 0.25px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 266px;
  width: 372px;
}
.home .reusable-c-ery-layout-nPhL4q {
  background-color: transparent;
  height: 72px;
  left: 0px;
  letter-spacing: 0.25px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 266px;
  width: 372px;
}
.home .reusable-c-ery-layout-vxBY3m {
  background-color: transparent;
  height: 72px;
  left: 0px;
  letter-spacing: 0.25px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 266px;
  width: 372px;
}
.home .send-s41Ybj {
  background-color: transparent;
  height: 64px;
  left: 16px;
  letter-spacing: 0.25px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 8px rgba(38,50,56,0.08) , 0px 2px 4px rgba(37,49,55,0.16);;
  top: 8px;
  width: 140px;
}
.home .sign-in-3NsCxO {
  background-color: transparent;
  height: 29px;
  left: 10px;
  letter-spacing: 0.15px;
  line-height: 21.4px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2.3764705657958984px 4.752941131591797px rgba(38,50,56,0.08) , 0px 1.1882352828979492px 2.3764705657958984px rgba(37,49,55,0.16);;
  top: 5px;
  width: 84px;
}
.home .sign-in-N4x1pJ {
  background-color: transparent;
  height: 29px;
  left: 10px;
  letter-spacing: 0.15px;
  line-height: 21.4px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2.3764705657958984px 4.752941131591797px rgba(38,50,56,0.08) , 0px 1.1882352828979492px 2.3764705657958984px rgba(37,49,55,0.16);;
  top: 5px;
  width: 84px;
}
.home .terms-of-service-lgGuhs {
  background-color: transparent;
  height: 24px;
  left: 200px;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 232px;
  white-space: nowrap;
  width: 172px;
}
.home .text-HWcGHq {
  background-color: transparent;
  color: var(--outer-space);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 212px;
  left: 16px;
  letter-spacing: -0.25px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 56px;
  width: 240px;
}
.home .textfield-lgGuhs {
  background-color: transparent;
  height: 80px;
  left: 600px;
  position: absolute;
  top: 230px;
  width: 370px;
}
.home .textlabel-IcPKRJ {
  background-color: transparent;
  height: 64px;
  left: 479px;
  letter-spacing: 0.20px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 10px;
}
.home .textlabel-wRlxz0 {
  background-color: transparent;
  height: 64px;
  left: 597px;
  letter-spacing: 0.20px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 10px;
}
.home .things-we-like-lgGuhs {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 232px;
  white-space: nowrap;
  width: 172px;
}
.home .vector-1YqMB6 {
  background-color: transparent;
  height: 2px;
  left: 9px;
  position: absolute;
  top: 15px;
  width: 14px;
}
.home .vector-36S2Jy {
  background-color: transparent;
  height: 10px;
  left: 15px;
  position: absolute;
  top: 10px;
  width: 10px;
}
.home .vector-9VOsc3 {
  background-color: transparent;
  height: 14px;
  left: 15px;
  position: absolute;
  top: 9px;
  width: 8px;
}
.home .vector-9vLtTH {
  background-color: transparent;
  height: 18px;
  left: 9px;
  position: absolute;
  top: 11px;
  width: 22px;
}
.home .vector-DZ9mhD {
  background-color: transparent;
  height: 14px;
  left: 15px;
  position: absolute;
  top: 9px;
  width: 8px;
}
.home .vector-DsxFU8 {
  background-color: transparent;
  height: 2px;
  left: 9px;
  position: absolute;
  top: 15px;
  width: 14px;
}
.home .vector-IfEC4Q {
  background-color: transparent;
  height: 14px;
  left: 15px;
  position: absolute;
  top: 9px;
  width: 8px;
}
.home .vector-NVrovA {
  background-color: transparent;
  height: 8px;
  left: 11px;
  position: absolute;
  top: 22px;
  width: 18px;
}
.home .vector-OVXraZ {
  background-color: transparent;
  height: 22px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 22px;
}
.home .vector-aQ6dxj {
  background-color: transparent;
  height: 9px;
  left: 9px;
  position: absolute;
  top: 13px;
  width: 22px;
}
.home .vector-bQz8nv {
  background-color: transparent;
  height: 14px;
  left: 15px;
  position: absolute;
  top: 9px;
  width: 8px;
}
.home .vector-bunQTO {
  background-color: transparent;
  height: 2px;
  left: 9px;
  position: absolute;
  top: 15px;
  width: 14px;
}
.home .vector-hLmuRw {
  background-color: transparent;
  height: 2px;
  left: 9px;
  position: absolute;
  top: 15px;
  width: 14px;
}
.home .vector-kjmUaE {
  background-color: transparent;
  height: 2px;
  left: 9px;
  position: absolute;
  top: 15px;
  width: 14px;
}
.home .vector-rMxncr {
  background-color: transparent;
  height: 14px;
  left: 15px;
  position: absolute;
  top: 9px;
  width: 8px;
}
.home .vector-t9rjgR {
  background-color: transparent;
  height: 2px;
  left: 9px;
  position: absolute;
  top: 15px;
  width: 14px;
}
.home .vector-zITFy1 {
  background-color: transparent;
  height: 14px;
  left: 15px;
  position: absolute;
  top: 9px;
  width: 8px;
}
.home .vector-zOx7fl {
  background-color: transparent;
  height: 18px;
  left: 14px;
  position: absolute;
  top: 8px;
  width: 18px;
}
.home .wave-iN1Y9x {
  background-color: transparent;
  height: 770px;
  left: -60px;
  position: absolute;
  top: 252px;
  width: 1442px;
}
.home .we-are-hiring-lgGuhs {
  background-color: transparent;
  height: 24px;
  left: 400px;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 152px;
  white-space: nowrap;
  width: 172px;
}
.home .what-we-do-3pm1Es {
  background-color: transparent;
  height: 48px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 77px;
}
.home .who-we-are-1d36Fs {
  background-color: transparent;
  height: 48px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 69px;
}
.home .with-form-iN1Y9x {
  background-color: transparent;
  height: 310px;
  left: 135px;
  position: absolute;
  top: 80px;
  width: 1175px;
}
.home .x-background-0-dp-IcPKRJ {
  background-color: transparent;
  height: 112px;
  left: -8px;
  position: absolute;
  top: -4px;
  width: 1456px;
}
.home .x-background-16-dp-Vpexvy {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 370px;
}
.home .x-background-16-dp-s41Ybj {
  background-color: var(--copper);
  border-radius: 16px;
  box-shadow: 0px 16px 32px rgba(38,50,56,0.08) , 0px 8px 24px rgba(38,50,56,0.1);;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 170px;
}
.home .x-background-16-dp-x5XmCn {
  background-color: var(--silver);
  border-radius: 16px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 270px;
}
.home .x-background-16-dp-xOMmsN {
  background-color: var(--silver);
  border-radius: 16px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 270px;
}
.home .x-background-99-dp-3NsCxO {
  background-color: var(--copper);
  border-radius: 593.5235595703125px;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 101px;
}
.home .x-background-99-dp-C61RwL {
  background-color: var(--dandelion);
  border-radius: 999px;
  height: 12px;
  left: 650px;
  position: absolute;
  top: 1473px;
  width: 126px;
}
.home .x-background-99-dp-DwTS6q {
  background-color: var(--copper);
  border-radius: 999px;
  height: 82px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 270px;
}
.home .x-background-99-dp-N4x1pJ {
  background-color: var(--copper);
  border-radius: 593.5235595703125px;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 101px;
}
.home .x-blocks-7-C61RwL {
  background-color: var(--white);
  height: 526px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 2485px;
  width: 1440px;
}
.home .x-discover-tips-C61RwL {
  background-color: transparent;
  height: 80px;
  left: 335px;
  letter-spacing: -1.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 296px;
  width: 772px;
}
.home .x-ghost-1lH4dx {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 417px;
  width: 120px;
}
.home .x-ghost-3LgKOT {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 417px;
  width: 120px;
}
.home .x-ghost-94d7NV {
  background-color: transparent;
  height: 64px;
  left: 608px;
  position: absolute;
  top: 17px;
  width: 107px;
}
.home .x-ghost-G5lcgt {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 417px;
  width: 120px;
}
.home .x-ghost-IcPKRJ {
  background-color: transparent;
  height: 64px;
  left: 375px;
  position: absolute;
  top: 17px;
  width: 98px;
}
.home .x-ghost-lOdMFZ {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 417px;
  width: 120px;
}
.home .x-ghost-nPhL4q {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 417px;
  width: 120px;
}
.home .x-ghost-vxBY3m {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 417px;
  width: 120px;
}
.home .x-ghost-wRlxz0 {
  background-color: transparent;
  height: 64px;
  left: 493px;
  position: absolute;
  top: 17px;
  width: 99px;
}
.home .x-primary-C61RwL {
  background-color: transparent;
  height: 82px;
  left: 133px;
  position: absolute;
  top: 1052px;
  width: 270px;
}
.home .x-primary-IcPKRJ {
  background-color: transparent;
  height: 38px;
  left: 967px;
  position: absolute;
  top: 32px;
  width: 101px;
}
.home .x-primary-lgGuhs {
  background-color: transparent;
  height: 80px;
  left: 1000px;
  position: absolute;
  top: 230px;
  width: 170px;
}
.home .x-primary-wRlxz0 {
  background-color: transparent;
  height: 38px;
  left: 1086px;
  position: absolute;
  top: 32px;
  width: 101px;
}
.home .x-simple-1lH4dx {
  background-color: transparent;
  background-image: url(../img/image-2@2x.svg);
  background-size: 100% 100%;
  height: 250px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 370px;
}
.home .x-simple-3FUoAz {
  background-color: transparent;
  height: 380px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 470px;
}
.home .x-simple-3LgKOT {
  background-color: transparent;
  background-image: url(../img/image-2@2x.svg);
  background-size: 100% 100%;
  height: 250px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 370px;
}
.home .x-simple-En5r8E {
  background-color: transparent;
  background-image: url(../img/image@2x.svg);
  background-position: 50% 50%;
  background-size: cover;
  height: 222px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 170px;
}
.home .x-simple-G5lcgt {
  background-color: transparent;
  background-image: url(../img/image-2@2x.svg);
  background-size: 100% 100%;
  height: 250px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 370px;
}
.home .x-simple-GzWPqN {
  background-color: transparent;
  background-image: url(../img/---simple-1@2x.svg);
  background-size: 100% 100%;
  border-radius: 20px;
  height: 222px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 170px;
}
.home .x-simple-HWcGHq {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 270px;
}
.home .x-simple-J9PwEA {
  background-color: transparent;
  background-image: url(../img/---simple-2@2x.svg);
  background-size: 100% 100%;
  border-radius: 20px;
  height: 222px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 170px;
}
.home .x-simple-dmwEDh {
  background-color: transparent;
  background-image: url(../img/image-1@2x.svg);
  background-position: 50% 50%;
  background-size: cover;
  height: 356px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 370px;
}
.home .x-simple-lOdMFZ {
  background-color: transparent;
  background-image: url(../img/image-2@2x.svg);
  background-size: 100% 100%;
  height: 250px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 370px;
}
.home .x-simple-nPhL4q {
  background-color: transparent;
  background-image: url(../img/image-2@2x.svg);
  background-size: 100% 100%;
  height: 250px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 370px;
}
.home .x-simple-pt3oqY {
  background-color: transparent;
  background-image: url(../img/---simple@2x.svg);
  background-size: 100% 100%;
  border-radius: 20px;
  height: 464px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 270px;
}
.home .x-simple-vxBY3m {
  background-color: transparent;
  background-image: url(../img/image-2@2x.svg);
  background-size: 100% 100%;
  height: 250px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 370px;
}
.home .x-stroke-16-dp-76Lxqf {
  background-color: transparent;
  border-radius: 16px;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 120px;
}
.home .x-stroke-16-dp-QSIjGN {
  background-color: transparent;
  border-radius: 16px;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 120px;
}
.home .x-stroke-16-dp-afd3XZ {
  background-color: transparent;
  border-radius: 16px;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 120px;
}
.home .x-stroke-16-dp-gEOhe2 {
  background-color: transparent;
  border-radius: 16px;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 120px;
}
.home .x-stroke-16-dp-mzQmYj {
  background-color: transparent;
  border-radius: 16px;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 120px;
}
.home .x-stroke-16-dp-nTPbx6 {
  background-color: transparent;
  border-radius: 16px;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 120px;
}
.home .x01-images-avatar-IcPKRJ {
  background-color: transparent;
  background-image: url(../img/ellipse-10@2x.svg);
  background-size: 100% 100%;
  height: 75px;
  left: 1226px;
  overflow: hidden;
  position: absolute;
  top: 12px;
  width: 75px;
}
.home .your-name-x5XmCn {
  background-color: transparent;
  height: 32px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 8px;
  white-space: nowrap;
  width: 240px;
}
.inter-black-outer-space-64px {
  color: var(--outer-space);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
}
.inter-bold-dandelion-18px {
  color: var(--dandelion);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.inter-bold-outer-space-24px {
  color: var(--outer-space);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.inter-bold-silver-chalice-12px {
  color: var(--silver-chalice);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.inter-bold-white-14-3px {
  color: var(--white);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 14.3px;
  font-style: normal;
  font-weight: 700;
}
.inter-bold-white-24px {
  color: var(--white);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.inter-normal-blue-marguerite-14px {
  color: var(--blue-marguerite);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.inter-normal-outer-space-14px {
  color: var(--outer-space);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.inter-normal-outer-space-18px {
  color: var(--outer-space);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.inter-normal-silver-chalice-18px {
  color: var(--silver-chalice);
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --blue-marguerite: rgba(108,92,231,1.0);
  --chicago: rgba(91,91,91,1.0);
  --copper: rgba(222,144,111,1.0);
  --dandelion: rgba(253,203,110,1.0);
  --mine-shaft: rgba(51,51,51,1.0);
  --outer-space: rgba(45,52,54,1.0);
  --silver: rgba(193,193,193,1.0);
  --silver-chalice: rgba(173,173,173,1.0);
  --white: rgba(255,255,255,1.0);
}
